<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Aahar</title>
        <link href="{% static 'dist/css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>

            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'web-logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="{% url 'mess-home'%}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Attendance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'mess-attendance-cur' %}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-check-square"></i></div>
                                        Marked by users(current month)
                                    </a>
                                    <a class="nav-link" href="{% url 'upload-attendance' %}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div>
                                        Upload attendance
                                    </a>
                                    <a class="nav-link" href="{% url 'list-attendance' %}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-check-circle"></i></div>
                                        List of Students Attending
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Menu & Timings
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav" id="sidenavAccordionPages">
                                    <a class="nav-link active" href="{% url 'admin-view-mess-menu' %}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                        View Menu
                                    </a>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Meal Deadlines
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'default-deadline' %}">
                                                <div class="sb-nav-link-icon"><i class="fas fa-magic"></i></div>
                                                Edit Default Meal Deadline
                                            </a>
                                            <a class="nav-link" href="{% url 'meal-deadline' %}">
                                                <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                                                Set/Edit Meal Deadline
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <a class="nav-link" href="{% url 'list-defaulters' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                                Defaulters
                            </a>
                            <a class="nav-link" href="{% url 'mess-feedback' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Feedback
                            </a>
                            <a class="nav-link" href="{% url 'app-feedback' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tablet"></i></div>
                                App Feedback
                            </a>
                            <a class="nav-link" href="{% url 'view-users' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-list-ol"></i></div>
                                View Users
                            </a>
                            <a class="nav-link" href="{% url 'web-logout' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{user.name}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h3>Weekly Menu</h3>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable0" width="100%" cellspacing="0" style="text-align:center; border: 2px solid black;">
                                        <thead>
                                            <tr style="background-color: #C0C0C0;">
                                                <th width="10%" style="border: 2px solid black;">DAY</th>
                                                <th width="25%" style="border: 2px solid black;">BREAKFAST</th>
                                                <th width="25%" style="border: 2px solid black;">LUNCH</th>
                                                <th width="15%" style="border: 2px solid black;">SNACKS</th>
                                                <th width="25%" style="border: 2px solid black;">DINNER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="background-color: #CCFFCC;">
                                                <th style="background-color: #C0C0C0; border: 2px solid black;">MONDAY</th>
                                                {% for en, form_mon in weekly_menu.Monday %}

                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Mon{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Mon{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="MonLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="MonLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form  method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_mon.day.id}}">Day:</label>
                                                                        <input id="{{form_mon.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_mon.meal.id}}">Meal:</label>
                                                                        <input id="{{form_mon.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_mon.items.id}}">Items:</label>
                                                                        <input id="{{form_mon.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color:#FFE5CC; ">
                                                <th style="background-color: #C0C0C0;border: 2px solid black;">TUESDAY</th>
                                                {% for e, form_tue in weekly_menu.Tuesday %}
                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Tue{{e.id}}" data-backdrop='static'>{{e.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Tue{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="TueLabel{{e.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="TueLabel{{e.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form  method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_tue.day.id}}">Day:</label>
                                                                        <input id="{{form_tue.day.id}}" type="text" name="day" value="{{e.day}}" readonly> <br>
                                                                        <label for="{{form_tue.meal.id}}">Meal:</label>
                                                                        <input id="{{form_tue.meal.id}}" type="text" name="meal" value="{{e.meal}}" readonly> <br>
                                                                        <label for="{{form_tue.items.id}}">Items:</label>
                                                                        <input id="{{form_tue.items.id}}" type="text" name="items" value="{{e.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color: #CCFFCC;">
                                                <th style="background-color: #C0C0C0; border: 2px solid black;">WEDNESDAY</th>
                                                {% for en, form_wed in weekly_menu.Wednesday %}

                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Wed{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Wed{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="WedLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="WedLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_wed.day.id}}">Day:</label>
                                                                        <input id="{{form_wed.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_wed.meal.id}}">Meal:</label>
                                                                        <input id="{{form_wed.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_wed.items.id}}">Items:</label>
                                                                        <input id="{{form_wed.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color:#FFE5CC;">
                                                <th style="background-color: #C0C0C0; border: 2px solid black;">THURSDAY</th>
                                                {% for en, form_thurs in weekly_menu.Thursday %}
                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Thur{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Thur{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="ThurLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ThurLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_thurs.day.id}}">Day:</label>
                                                                        <input id="{{form_thurs.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_thurs.meal.id}}">Meal:</label>
                                                                        <input id="{{form_thurs.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_thurs.items.id}}">Items:</label>
                                                                        <input id="{{form_thurs.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color: #CCFFCC;">
                                                <th style="background-color: #C0C0C0; border: 2px solid black;">FRIDAY</th>
                                                {% for en, form_fri in weekly_menu.Friday %}
                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Fri{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Fri{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="FriLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="FriLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_fri.day.id}}">Day:</label>
                                                                        <input id="{{form_fri.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_fri.meal.id}}">Meal:</label>
                                                                        <input id="{{form_fri.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_fri.items.id}}">Items:</label>
                                                                        <input id="{{form_fri.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color:#FFE5CC;">
                                                <th style="background-color: #C0C0C0;border: 2px solid black;">SATURDAY</th>
                                                {% for en, form_sat in weekly_menu.Saturday %}
                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Sat{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Sat{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="SatLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="SatLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_sat.day.id}}">Day:</label>
                                                                        <input id="{{form_sat.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_sat.meal.id}}">Meal:</label>
                                                                        <input id="{{form_sat.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_sat.items.id}}">Items:</label>
                                                                        <input id="{{form_sat.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr style="background-color: #CCFFCC;">
                                                <th style="background-color: #C0C0C0; border: 2px solid black;">SUNDAY</th>
                                                {% for en, form_sun in weekly_menu.Sunday %}
                                                <td>
                                                    <button style="padding: 0;border: none;background: none;" type="button" data-toggle="modal" data-target="#Sun{{en.id}}" data-backdrop='static'>{{en.items}}</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="Sun{{en.id}}" tabindex="-1" role="dialog" aria-labelledby="SunLabel{{en.id}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="SunLabel{{en.id}}">Update Menu Items</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <label for="{{form_sun.day.id}}">Day:</label>
                                                                        <input id="{{form_sun.day.id}}" type="text" name="day" value="{{en.day}}" readonly> <br>
                                                                        <label for="{{form_sun.meal.id}}">Meal:</label>
                                                                        <input id="{{form_sun.meal.id}}" type="text" name="meal" value="{{en.meal}}" readonly> <br>
                                                                        <label for="{{form_sun.items.id}}">Items:</label>
                                                                        <input id="{{form_sun.items.id}}" type="text" name="items" value="{{en.items}}">
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        <button class="btn btn-primary" type="submit">Save changes</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="card shadow-lg border-0 rounded-lg">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Update Mess Menu By Date</h3></div>
                                <div class="card-body text-center">
                                    <form  method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            <label for="{{form2.date.id}}">Day:</label>
                                            <input id="{{form2.date.id}}" type="text" name="day" value="{{en.day}}" > <br>
                                            <label for="{{form2.meal.id}}">Meal:</label>
                                            <input id="{{form2.meal.id}}" type="text" name="meal" value="{{en.meal}}" > <br>
                                            <label for="{{form2.occasion.id}}">Occasion:</label>
                                            <input id="{{form2.occasion.id}}" type="text" name="items" value="{{en.items}}"> <br>
                                            <label for="{{form2.items.id}}">Items:</label>
                                            <input id="{{form2.items.id}}" type="text" name="items" value="{{en.items}}"> <br>
                                            <button class="btn btn-primary" type="submit">Save</button>

                                    </form>
                                </div>
                            </div>
                            <div class="card shadow-lg border-0 rounded-lg">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4" style="align:right;">Special Mess Menu</h3></div>
                                <div class="card-body text-center">
                                    <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Meal</th>
                                                <th>Occasion</th>
                                                <th>Items</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for en in list %}
                                            <tr>
                                                <td>{{en.date}}</td>
                                                <td>{{en.meal}}</td>
                                                <td>{{en.occasion}}</td>
                                                <td>{{en.items}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; MIDAS 2021</div>
<!--                            <div>-->
<!--                                <a href="#">Privacy Policy</a>-->
<!--                                &middot;-->
<!--                                <a href="#">Terms &amp; Conditions</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dist/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'dist/assets/demo/datatables-demo.js' %}"></script>
    </body>
</html>
