body{
    background: rgb(255,146,58);
    background: linear-gradient(0deg, rgba(255,146,58,1) 0%, rgba(255,218,132,1) 100%);
    /* background: url(ella-olsson-C1Q3qOTlegg-unsplash.jpg); */
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
        /* src: url(Lato) */

}
.signin_signup_box{
    width: 340px;
    height: 330px;
    background: #f4f1d6;
    color: #30323D;
    /* opacity: 0.65; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 90px 50px;
    /* opacity: 0.7; */
    border-radius: 3px;

}
.bounding_box{
    width: 320px;
    height: 330px;
    /* background: #353434; */
    color: #fff;
    /* opacity: 0.7; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 20px;
    /* opacity: 0.6; */
}
.logo_box{
    height: 45px;
    width: 140px;
    border-radius: 5px;
    /* background-color: #f4f1d6; */
    /* opacity: 0.7; */
    margin-top: -10px;
    left: calc(50% - 74px);
    position: absolute;
}
.logo{
    height:39px;
    width:115px;
    position: absolute;
    top: 10px;
    margin-top: -4px;
    left: calc(50% - 50px);
    /* margin-bottom: 10px; */
}
.bounding_box h1{
    /* font-weight: 250; */
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* margin-bottom: 17px; */
    font-weight: 200;
    color: #eea243;
}
.home-buttons button register{
    margin-bottom: 40px;
    margin-top:
}
.home-buttons button{
    border: none;
    outline: none;
    height: 40px;
    background: #FFC53A;
    color: #f4f1d6;
    width: 100%;
    font: 'Lato';
    font-size: 15px;
    /* cursor: pointer;  */
    border-radius: 5px;
}
.home-buttons button:hover{
    cursor: pointer;
    background: #EEA243;
}