body{
    margin: 0;
    padding: 0;
    background: rgb(255,146,58);
    background: linear-gradient(0deg, rgba(255,146,58,1) 0%, rgba(255,218,132,1) 100%);
    font-family: 'Lato';
        /* src: url(Lato) */

}
.signinbox{
    width: 340px;
    height: 420px;
    background: #f4f1d6;
    color: #30323D;
    /* opacity: 0.65; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 50px;
    /* opacity: 0.9; */
    border-radius: 3px;
}
.bounding_box{
    width: 340px;
    height: 420px;
    /* background: #353434; */
    color: #fff;
    /* opacity: 0.65; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 20px;
    /* text-align: center; */
    /* opacity: 0.6; */
}
.bounding_box .logo{
    height:39px;
    width:100px;
    position: absolute;
    /* top: 10px;  */
    margin-top: -30px;

    /* top: -30px;  */
    left: calc(50% - 47px);
}
.bounding_box h1{
    margin: 0;
    padding: 0 0 10px;
    font-size: 21px;
    text-align: center;
    font: 'Lato';
    margin-bottom: 12px;
    color: #eea243;
    font-weight: 200;
    margin-top: 17px
}


.bounding_box p{
   margin: 0;
   padding: 0;
}
.bounding_box input{
    width: 100%;
    margin-bottom: 18px;
}
.bounding_box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    background:transparent;
    outline: none;
    height: 30px;
    color: grey;
    font: 'Lato';
    font-size: 12px;
}
.bounding_box input[type="password"]{
    margin-bottom: 40px;
}
.bounding_box input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    /* width: 40%; */
    /* left: 50%; */
    background: #FFC53A ;
    color: #f4f1d6;
    /* cursor: pointer; */
    /* position: absolute; */
    font-size: 12.5px;
    border-radius: 5px;

}
::placeholder{
    color:rgb(136, 136, 136);
    opacity: 0.8;
    margin-bottom: 2px;
}
.bounding_box input[type="submit"]:hover{
    cursor: pointer;
    background: #EEA243;
}
.bounding_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.bounding_box a:hover{
    color: #ffc107;
}
