body{
    margin: 0;
    padding: 0;
    /* background-size: cover; */
    background: rgb(255,146,58);
    background: linear-gradient(0deg, rgba(255,146,58,1) 0%, rgba(255,218,132,1) 100%);

    /* background-position: center; */
    font-family: 'Lato';
        /* src: url(Lato) */

}
.signupbox{
    width: 360px;
    height: 477px;
    background: #f4f1d6;
    color: #30323D;
    /* opacity: 0.65; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 75px 20px;
    /* opacity: 0.9; */
    border-radius: 3px;
}
.bounding_box{
    width: 360px;
    height: 477px;
    /* background: #353434; */
    color: #fff;
    /* opacity: 0.65; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 75px 20px;
    /* text-align: center; */
    /* opacity: 0.6; */
}
/* .logo_box{
    height: 35px;
    width: 130px;
    border-radius: 5px; */
    /* background-color: #f4f1d6; */
    /* opacity: 0.7; */
    /* margin-top: -10px;
    left: calc(50% - 74px);
    position: absolute;
} */
.bounding_box .logo{
    height:39px;
    width:100px;
    position: absolute;
    /* top: 10px;  */
    margin-top: 60px;
    left: 37%;
    /* margin-bottom: 10px; */
}
.bounding_box h1{
    margin: 0;
    padding: 0 0 10px;
    font-size: 21px;
    text-align: center;
    font: 'Lato';
    margin-bottom: 12px;
    font-weight: 200;
    color: #eea243;
}

.logo{
    height:59px;
    width:185px;
    position: absolute;
    top: -30px;
    left: calc(50% - 90px);
}
.bounding_box input{
    width: 100%;
    margin-bottom: 19.5px;
}

.bounding_box input[id="confirm"]{
    margin-top: 30px;
}
.bounding_box input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    background:transparent;
    outline: none;
    height: 20px;
    color: grey;
    font: 'Lato';
    font-size: 12px;
}
.bounding_box input[type="email"] {
    margin-top: 5px;
}
.user_type{
    font-size: 12px;
    font-style: 'Lato';
    color: grey;
    margin-top: -6px;
    /* margin-bottom: 2px; */
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-top: 3px;
    padding-left: 35px;
    margin-bottom: 3px;
    cursor: pointer;
    font-style: 'Lato';
    color: grey;
    font-size: 12px;
    /* top: 5px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 9px;
    height: 11px;
    width: 11px;
    background-color: rgb(184, 183, 183);
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ffc53a;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    /* background: white; */
  }


.bounding_box input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    /* width: 40%; */
    /* left: 50%; */
    background: #FFC53A ;
    /* cursor: pointer; */
    /* position: absolute; */
    font-size: 12.5px;
    border-radius: 5px;
    margin-top: 10px;
    color: #f4f1d6;

}
::placeholder{
    color:rgb(136, 136, 136);
    opacity: 0.8;
    margin-bottom: 2px;
}
.pwd_guide{
    text-decoration: none;
    font-size: 10.7px;
    line-height: 15px;
    color: rgb(129, 129, 129);
}
.bounding_box input[type="submit"]:hover{
    cursor: pointer;
    background: #EEA243;
}
#redirect a:hover{
    color: #ffc107;
}
ul
{
    list-style-type: none;
}