body{
    background: rgb(255,146,58);
    background: linear-gradient(0deg, rgba(255,146,58,1) 0%, rgba(255,218,132,1) 100%);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* color: black;  */
    font-family: 'Lato', sans-serif;
}
.bar{
    margin: 0;
    padding:0;
    padding-top: 18px;
    border: none;
    height: 35px;
    width: 100%;
    background-color: transparent;
    /* box-sizing: border-box; */
    /* overflow:auto; */
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); */
    color: #ffc53a;
    text-align: right;
    /* border-left: 1px solid rgba(0, 0, 0, 0.15); */
}
.bar .logo{
    height:33px;
    width:100px;
    position: absolute;
    /* top: -30px;  */
    margin-top: -7px;
    /* left: calc(50% - 90px); */
    left: 47%;
}
.bar .bar_content{
    height: 25px;
    width: 60px;
    /* border-left: 1px solid rgba(0, 0, 0, 0.15); */
    margin-top: -9px;
    /* margin-right: 7px ;  */
    vertical-align: center;
    text-align: center;
    margin-left: 95%;
    padding-top: 8px;
    padding-left: 3px;
    color:#db9a02;
    /* background-color: transparent; */
    /* border: 2px;  */
    background-color: #fdd578;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #fcb207;
    border-radius: 15px;

}
.bar a{
    /* float: right; */
    /* padding: 5px; */
    /* margin-right: 30px; */
    margin-top: 9px;
    margin-right: 0px ;
    /* padding:3px 3px ;  */
    font: 'Lato';
    /* overflow: auto; */
    font-size: 13px;
    vertical-align: center;
    cursor: pointer;
    text-align: center;
    /* margin-bottom: 5%; */
}
.a :hover{
    cursor: pointer;
    color: #EEA243;
}
.back{

    /* outline: none;  */
    outline-style: solid;
    outline-width: 2px;
    outline-color: #fcb207;
    color: #db9a02;
    /* color: #f5f2dc; */
    /* background-color: #fcb207; */
    height: 20px;
    width: 40px;
    text-align: center;
    margin-left: 10px;
    margin-top: -43px;
    padding-top: 2px;
    border-radius: 3px;

}
.back:hover{
    cursor: pointer;
}
.back a{
    font-weight: 50;
    font-size: 12px;
    vertical-align: center;
}
.main_box{
    background-color: white;
    opacity: 0.9;
    /*height: 70%;*/
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    border-radius: 4px;
    padding-top: 10px;
}
.heading h4{
    font: 'Lato';
    font-weight: 200;
    color: #EEA243;
    font-size:21px;
    position: absolute;
    margin-left: 47%;
    margin-bottom: 50px;
    /* text-align: center; */
}
.heading_post_order h4{
    /*margin-left: 45.5%;*/
    float: middle;
    font: 'Lato';
    font-weight: 200;
    color: #EEA243;
    font-size:21px;
    position: absolute;
    /* margin-left: 47%; */
    margin-bottom: 50px;
}
.space{
    height: 20px;
    position:relative;
    width: 75%;
    margin-left: 65px;
    /* background-color: grey; */
    margin-top: 60px;
}
.column{
    float: left;
    height: 7%;
    width: 13%;
    position: relative;
    /* background-color: yellow; */

    margin-left: 54px;
    margin-top: -5px;
    /* display: inline-block; */
    padding: 5px 5px 5px 5px;

}

.column h2{
    font-size: 13px;
    font-weight: bold;

}
.column h2, .column p{
    color: grey;
    font-style: 'Lato';
    /* font-size: 12px;  */
}
.column p{
    font-size: 12px;
    font-weight: 200;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.total_price{
    height:7%;
    width: 13%;
    outline: 1px solid;
    outline-color: grey;
    position: relative;
    margin-top: 180px;
    margin-left: 43.5%;
    border-radius: 5px;
    /* text-align:center; */
    color: grey;
    padding-top: 2px;
}
.total_price p{
    font-size: 12px;
    /* vertical-align: center; */
    /* display: auto; */
    /* font-weight: ; */
    position: relative;
    margin-top: 10px;
    margin-left: -2px;
}
.place_order button{
    height: 8%;
    width: 17%;
    background-color: #EEA243;
    outline: none;
    border:none;
    font-size: 12px;
    color: #f4f1d6;
    position: relative;
    border-radius: 3px;
    margin-top: -33px;
    margin-left: 73%;
}