{% load static %}
<html>
<head>
    <title>Aahar</title>
    <link  rel= "stylesheet" type = "text/css" href = "{% static 'css/login_style.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0; {% url 'personalised-dashboard' %}" />

    {% else %}
        <div class="signinbox"></div>
        <div class="bounding_box">
            {% block content %}
            {% endblock content %}
            <a>You are not logged in.</a> <br>
            <a>Don't have an account?</a>
            <a href="{% url 'signup' %}">Signup here</a>
        </div>
    {% endif %}
</body>
</html>