{% load static %}
<html>
<head>
    <title> Home </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link  rel= "stylesheet" type = "text/css" href = "{% static 'css/dashboard_style.css' %}">
</head>
<body>
    <div class="bar">
        <div class="bar_content">
            <img src="{% static 'img/Aahar.png' %}" class="logo">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="vendors1">
        <h1> Hi, {{request.user.name}}! </h1>
        {% for vendor in vendors %}
            <div class="{{vendor.username}}">
                <img src="{% static 'img/vendor-icon.jpg' %}" class="img_vendor">
                <h3><a href="{% url 'view-vendor' %}{{vendor.id}}">{{vendor.username}}</a></h3>
            </div>
        {% endfor %}
    </div>
    <form action="{% url 'order-details' %}" class ="order_status_button">
        <button type="submit"> Current order details</button>
    </form>
</body>
</html>