{% load static %}
<html>
<head>
    <title> Aahar | Your Order </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link  rel= "stylesheet" type = "text/css" href = "{% static 'css/customer/cart_order_style.css' %}">
</head>
<body>
    <div class="bar">
        <div class="bar_content">
            <img src="{% static 'img/Aahar.png' %}" class="logo">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="back"><a href="{% url 'personalised-dashboard' %}">Home</a> </div>
    <div class="main_box">
        <div class="heading_post_order">
            <h4> Cart </h4>
        </div>
        <div class="space"> </div>
        <div class="row">
            <div class="column">
                <h2>Food item</h2>
            </div>
            <div class="column">
                <h2>Price</h2>
            </div>
            <div class="column">
                <h2>Qty</h2>
            </div>
            <div class="column">
                <h2>Price * Qty</h2>
            </div>
            <div class="column">
                <h2>Status</h2>
            </div>
        </div>
        {% for i,tot in cart %}
        <div class="row">
            <div class ="column">
                <p>{{i.item.itemName}}</p>
            </div>
            <div class="column">
                <p>Rs. {{i.item.price}}</p>
            </div>
            <div class="column">
               <p>x{{i.qty}}</p>
            </div>
            <div class="column">
                <p>{{tot}}</p>
            </div>
            <div class="column">
                <p>{{i.status}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="total_price">
            <p>Rs. {{total}}</p>
        </div>
        <form class="place_order" action="{% url 'place-order' %}">
            <button> Place Order </button>
        </form>
    </div>
</body>
</html>